<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.assets = {
    logo: "<%= asset_path('Yump_logo.png') %>",
    home_img: "<%= asset_path('pasta_time_freeze.jpg')%>"
  }

</script>

<main id="root"></main>
