.login__logo {
  display: inline-block;
  justify-content: space-around;
  width: 100px;

  &:hover {
    transform: scale(1.4);
    cursor: pointer;
  }
}


.login-form-box input {
  box-sizing: border-box;
  margin: 0 0 18px;
  padding: 5px;
  border: 1px solid #bbb;
  background: rgba(250, 250, 249, .9);
  border-radius: 1px;
  font-size: 14px;
  font-weight: 550;
  line-height: 1.3em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
  0 0 5px rgba(0, 126, 255, 0.3);
}

.login__submit {
  &-guest, &-login, &-signup {
    width: 100%;
    padding: 5px 0;
    margin: 3px 0;
    cursor: pointer;
    color: white;
    border: 1px solid #8d0005;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #d90007;
    background: linear-gradient(#d90007, #c91400);
    font-weight: bolder;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;

    &:hover {
      background: #ed0008;
    }
  }

  &-switch {
    display: inline-block;

    &:hover{
      text-decoration: underline;
    }
  }
}

.login {
  &__logo-box {
    width: 100%;
    background: linear-gradient(#d90007, #c91400);
    color: white;
    text-align: center;
    padding: 12px 0;
  }

  &__logo {
    padding: 8px 0;
  }

  &__form-box, &__image-box {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
  }

  &__form {
    width: 300px;
    padding: 30px 0;
  }

  &__errors{

    &-box {
      margin-top: 18px;
      width: 100%
    }
  }

  &__errors li {
    height: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-left: 1px solid #FF4136;
    padding-left: 8px;
    padding-bottom: 3px;
    line-height: 110%;
  }
}

.form {
  &__first-name-input, &__last-name-input {
    // width: 95%;
    width: 140px;
  }
  &__first-name, &__last-name {
  }
  // &__last-name {
  //   flex-basis: 50%;
  //   justify-content: flex-end;
  // }

  &__first-name-box {
    display: flex;
    justify-content: space-between;
  }

  &__email, &__username, &__password, &__zip-code {
    width: 100%;
  }

  &__password {
    border-bottom: 9px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}
