
.home__nav-container{
  height: 575px;
  width: 100%;
  background: rgb(255, 255, 255) image_url("pasta_time_freeze.jpg") center no-repeat;
  background-size: cover;
}

.home__nav-box{
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding-top: 30px;
  height: 100%;
}

.home__nav {
  &-header-bar {
    display: flex;
    max-width: 960px;
    margin: auto;
    padding-top: 30px;
    height: 20%;
    padding: 10px 10px;
    height: 80px;
    width: 20%;
    border-radius: 40px;
  }

  &-search-bar {
    display: flex;
    background: white;
    max-width: 960px;
    width: 70%;
    margin: auto;
    padding-top: 30px;
    height: 28px;
    padding: 10px 10px;
    background: #fff;
    border-radius: 40px;
    position: relative;
    top: 20%;
  }
}
// search bar
.home__nav-search {
  &-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &-label {

  }

  &-input {

  }

  &-btn {

  }
}




// logo and search
.home__nav-bar{

  &-content {
    display: flex;
    justify-content: center;
    height: 435px;
    width: 100%;
  }

  &-logo-box {
    padding: 10px 10px;
    background: linear-gradient(45deg, rgba(20,20,20, .5), rgba(20,20,20, .75));
    height: 80px;
    width: 160px;
    border-radius: 40px;
  }

  &-logo {
    object-fit: cover;
    width: 100%;
  }

  &-search {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}
