// Place all the styles related to the API::Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show__nav {
  &-container {
    width: 100%;
    background: linear-gradient(#d90007, #c91400);
  }
  &-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 960px;
    padding: 10px 0;
  }
}

.header__nav {
  &-logo-box {
      width: 15%;
      padding: 12px 0;
  }

  &-logo-img {
    width: 100px;
    height: auto;
  }

  &-search-box {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &-search-find-label {
    width: 100%;
    background: #fff;
    padding: 8px 12px;
    border-radius: 5px;
  }

  &-search-find-input {
    width: 70%;
    background: #fff;
  }
  &-search-btn {
    padding: 8px;
  }
}
// business header
.business__show {

}
// header left
.business__box {

}

.business__header-left {

}

.business__name-box {

}

.business__name {

}

.business__review-box {

}

.business__review-rating {

}

.business__review-count {

}

.business__price {

}
// header right
.business__header-right {

}

// map and images
.business__map-img-box {

}
// map
.business__map {

}

.home__header-bar-images {

}

.business__current-info {

}
// images
.business__show-images {

}

.business__header-images {

}

// Reviews
.business__show-reviews {

}
// form
.reviews__container-box {

}

.reviews__container-form {

}

.business__review-rating {

}

// all reviews
.reviews__container-reviews {
  
}
