
.home {
  width: 100%;
}

.home__header-bar{
  &-box {
    // display: flex;
    width: 100%;
    padding-top: 30px;
    height: 575px;
    background: url(pasta_time_freeze.jpg) center no-repeat;
    background-size: cover;
  }
}

// session links
.home__header-bar{
  width: 100%;

  &-nav-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
    width: 960px;
    height: 36px;
  }

  &-left {
    color: white;
    font-size: 15px;
    font-weight: 600;
  }

  &-session {
    justify-content: flex-end;
    color: white;
  }
}

// logo and search
.home__header-bar{
  &-content {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    height: 435px;
    width: 960px;
  }

  &-logo-box {
    padding: 10px 10px;
    background: linear-gradient(45deg, rgba(20,20,20, .5), rgba(20,20,20, .75));
    height: 80px;
    width: 160px;
    border-radius: 40px;
  }

  &-logo {
    object-fit: cover;
  }

  &-search {
    color: white;
  }

}
