.home__header-logo {
  position: absolute;
  height: inherit;
  width: 50px;
  background: red;
}

.home__header-bar-box {
  width: 100%;
  height: 570px;
  background: url(pasta_time_freeze.jpg) no-repeat;
}
