// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home__nav {
  // login
  &-login-box {
  }

  &-login-links {
    width: 155px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  &-login-btn {

  }
  // signup
  &-login-signup {

  }

  &-login-signup {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;

  }

  // logout
  &-profile-box {

  }
  &-profile-content {

  }
  &-profile-greeting {

  }
  &-profile-logout-btn {

  }
}
